pulumi>=3.0.0,<4.0.0
pulumi-aws>=6.0.2,<7.0.0

pip~=25.1.1
attrs~=25.3.0
protobuf~=4.25.8
dill~=0.4.0
grpcio~=1.66.2
PyYAML~=6.0.2
Arpeggio~=2.0.2
semver~=3.0.4
debugpy~=1.8.14
pulumi_aws~=6.83.0
parver~=0.5
boto3~=1.39.3